html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
}

#main {
    background-color: #90EE90;
}

#title {
    background-color: #00A36C;
}

#sketch-pad {
    height: 600px;
}

canvas {
    background-color: #ffffff;
}

.progress {
    height: 10px;
}