{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Doodle Sketch Recognition</title>

  </head>
  <body>
    
    <div class="container m-2 border border-success rounded" id="main">
      <div class="row p-2 rounded mb-2" id="title">
        <h1>Sketch Recognition</h1>
      </div>     
      <div class="row pb-2">
        <div class="col-md-6" id="sketch-pad">
          <canvas id="sketch-canvas" class="border rounded">
          </canvas>
        </div>
        <div class="col-md-6">
          <div class="container">
            <div class="col-md p-3 d-flex justify-content-center">
              <img id="main-img" src="{%static 'images/draw.svg' %}" width="350px">
            </div>
            <div class="col-md mb-5" id="notify_win">
              <div class="alert alert-light" role="alert">
                <img class="d-inline-lg me-5" id="pred_img" src="{% static 'images/draw.svg' %}" width="50px" height="auto">
                <h3 class="d-lg-inline" id="pred_str">Let's draw...</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="container">
              <button class="btn btn-danger" id="btn-clear">Clear</button>
              <button class="btn btn-primary float-end" id="predict">Predict</button>
            </div>

          </div>
        </div>            
      </div>
    </div>
    


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>